
@{
    ViewData["Title"] = "Подверждение e-mail";
}

    <h1>Подверждение e-mail</h1>
    <br />
    <h4>Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме</h4>

