@{
    ViewData["Title"] = "Главная";
}

    <div class="container mt-2 mb-2">
    
        <div class="alert alert-success" role="alert">
         
    
            <p class="lead">Вас приветствует, открытая онлайн-система обучающего тестирования TESTICH!</p>

        </div>
    </div>
